  <h2>Voici ton profil :</h2><br><br>
<div class="div_affichage">

<div class="div_main">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nom: <u> <%=current_user.first_name%> </u></h5>
    <h6 class="card-subtitle mb-2 text-muted">Prénom: <%=current_user.last_name%></h6>
    <h6 class="card-subtitle mb-2 text-muted">Email: <%= current_user.email %></h6>
    <p class="card-text">Description: <%= current_user.description %></p>
   <p> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
   <p><%= link_to "Edit email / password", edit_user_registration_path %></p>
  </div>
</div>
</div>
</div>