<h1>Hello ma ptite salope !</h1><br><br>

USER / NEW

<p>Tu vas pouvoir créer un profil via ce formulaire, à toi de jouer !!</p><br>



  
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	<div class="form-group">
	<label>Ton Prénom</label><br>
  <%= f.text_field :first_name %><br><br>

  <label>Ton Nom</label><br>
  <%= f.text_field :last_name %><br><br>

	<label>Ton Email</label><br>
  <%= f.text_field :email %><br><br>

	<label>Coordonnées bancaires</label><br>
  <%= f.text_field :cb %><br><br>

  <label>Ton password</label><br>
  <%= f.text_field :password %><br><br>

  <label>Confirmes ton password</label><br>
  <%= f.text_field :password %><br><br>

  <%= f.submit "Créer" %>
  </div>
<% end %>